

.switch-button {
    width: 300px;
    height: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 200px;
    -webkit-transform: translate3D(-50%, -50%, 0);
    transform: translate3D(-50%, -50%, 0);
    will-change: transform;
    z-index: 197 !important;
    cursor: pointer;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    border: 1px solid white;
}
.switch-button-case {
    display: inline-block;
    background: none;
    width: 49%;
    height: 100%;
    color: white;
    position: relative;
    border: none;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 1px;
}
.switch-button-case:hover {
    color: grey;
    cursor: pointer;
}
.switch-button-case:focus {
    outline: none;
}
.switch-button .active {
    color: #151515;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    -webkit-transition: .3s ease-out all;
    transition: .3s ease-out all;
}
.switch-button .active-case {
    color: #151515;
}


/*
body {
    background-image: url('background.jpg');
    background-size: cover;
}
*/

.levels {
    display: inline-block;
    width: 300px;
    height: 100% !important;
    vertical-align: top;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    font-family: Baskerville;
    font-size: 12pt;
    height: 98vh;
    margin: 1vh 0 0 1vh;
    overflow-y: hidden;
}

#container {
    width: 100%;
    height: 98%;
}

.proposition {
    padding: 5px;
    margin: 5px;
    border: 1px solid rgba(45, 43, 47, 0.98);
    border-radius: 0;
}

.hasChildren:hover{
    background: rgba(93, 93, 98, 0.2);
}

.highlighted {
    background-color: rgba(253, 244, 255, 0.25);
}

.proposition:hover{
    background-color: rgba(215, 211, 213, 0.28);
}

.propositionHeader {
    width: 100%;
}

.key {
    display: inline-block;
}

.emptiness {
    float: right;
    display: inline-block;

}

.nonHighlighted {
    color: #c5bec4;
    border: 1px solid #c7c3c5;
}

.hasChildren {
    cursor: pointer;
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    background-color: black;
    color: white !important;
    height: 100%;
    padding: 10px;
}

#sidebarTitle {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 28pt;
    font-weight: lighter;
}

#sidebarSubtitle {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: lighter;
}